<%- include("../main-layout/head.ejs")%>
<link rel="stylesheet" href="/css/products.css" />
<%-include("../main-layout/nav.ejs")%>
<main>
  <% if (products && products.length > 0) {%>
  <div class="grid">
    <%products.forEach((product) => {%>
    <article class="card product-item">
      <header class="card__header">
        <h1 class="product__title"><%= product.title%></h1>
      </header>
      <div class="card__image">
        <img src="<%= product.imageUrl%>" alt="<%= product.title%>" />
      </div>
      <div class="card__content">
        <h2 class="product__price">$<%= product.price%></h2>
        <p class="product__description"><%= product.description%></p>
      </div>
      <div class="card__actions admin__actions">
        <div class="action-item">
          <a href="/admin/editProduct" class="btn edit-btn admin__control__btn"
            >Edit</a
          >
        </div>
        <form action="/admin/deleteProduct" method="POST" class="action-item">
          <button class="btn delet-btn admin__control__btn" type="submit">
            Delete
          </button>
        </form>
      </div>
    </article>
    <%})%>
  </div>
  <% } else {%>
  <h1>No Products Found</h1>
  <%}%>
</main>
<%- include ("../main-layout/end.ejs")%>
